h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  row-gap: 50px;
}

.btn-NavBar {
  color: grey;
  text-decoration: none;
  margin-left: 15px;
}
.btn-NavBar:hover {
  color:white
}
.active {
  color: white;
  border-bottom: 1px solid white;
}
.btn-verDetalle {
  color: black;
  text-decoration: none;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 7px;
}
.btn-verDetalle:hover {
  color:grey;
  border-color: black;
}

.btn-verDetalle-disabled {
  color: black;
  text-decoration: none;
  padding: 4px;
  border-radius: 7px;
  opacity: 0.5;
}

.btn-verDetalle-disabled:hover{
  color:black;
}



footer {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  line-height: 2.5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}
footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  line-height: 1.5;
}
footer h5 {
  font-weight: bold;
  text-decoration: underline;
}

.Contenedor-Detail {
  display:flex;
  justify-content: center;
  padding-top: 30px;
}

.Contenedor-Contador {
  display: flex;
  justify-content: center;
  align-items:baseline;
  gap: 10px;
  padding-bottom: 15px;
}

#Numero-Contador:hover {
  background-color: white;
  color: black;
  cursor:default;
}

#boton-contador-inhabilitado {
  opacity: 0.5;
  color: white
}

#boton-contador-inhabilitado:hover {
  opacity: 0.5;
  background-color: white;
}