h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  row-gap: 50px;
  align-items: center;
}

.btn-NavBar {
  color: grey;
  text-decoration: none;
  margin-left: 15px;
}
.btn-NavBar:hover {
  color:white
}
.active {
  color: white;
  border-bottom: 1px solid white;
}
.btn-verDetalle {
  color:black;
  text-decoration: none;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}
.btn-verDetalle:hover {
  color:white;
  border: none;
  background-color: rgb(39, 39, 39);
}

.btn-verDetalle-disabled {
  color: black;
  text-decoration: none;
  padding: 4px;
  border-radius: 7px;
  opacity: 0.5;
}

.btn-verDetalle-disabled:hover{
  color:black;
}



footer {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  line-height: 2.5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}
footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  line-height: 1.5;
}
footer h5 {
  font-weight: bold;
  text-decoration: underline;
}

.Contenedor-Detail {
  display:flex;
  justify-content: center;
  padding-top: 30px;
}

.Contenedor-Contador {
  display: flex;
  justify-content: center;
  align-items:baseline;
  gap: 10px;
  padding-bottom: 15px;
}

#Numero-Contador:hover {
  background-color: white;
  color: black;
  cursor:default;
}

.boton-contador-inhabilitado {
  opacity: 0.5;
  color: white
}

.boton-contador-inhabilitado:hover {
  opacity: 0.5;
  background-color: white;
}

.carrito-vacio {
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 20px;
}

.item-carrito {
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin: 15px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
}

.contenedor-carrito {
  margin: 70px;
}

.item-carrito-info {
  display: flex;
  margin: 20px;
  justify-content: left;
}

.item-carrito-info p {
  margin-right: 40px;
  font-weight: bold;
  text-align: left;
}

.carrito-info {
  margin: 50px
}
.carrito-info p {
  margin: 40px;
  font-weight: bold;
  font-size: 20px;
}

.boton-borrar {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.boton-borrar:hover {
  background-color: grey;
}

.btn-irACarrito {
  color:black;
  text-decoration: none;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}

.btn-irACarrito:hover {
  color:white;
  border: none;
  background-color: rgb(34, 34, 34);

}

.botonTienda {
  color:black;
  background-color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border:1px solid black;
  border-radius: 15px;
  padding:15px;
}

.botonTienda:hover {
  background-color: rgb(37, 37, 37);
  color:white;
  border:none;
}

.numCarrito{
  color: white;
}

.cartWidget {
  text-decoration: none;
}

.btn-volver-tienda {
  color:white;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(36, 36, 36);
  margin:10px;
}

.btn-volver-tienda:hover {
  color:white;
  border: none;
  background-color: rgb(88, 88, 88);
}

.contenedor-formulario {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.formulario{
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}